certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
frappe-bench==5.22.9
gitdb==4.0.11
GitPython==3.1.43
honcho==2.0.0
idna==3.10
Jinja2==3.1.4
MarkupSafe==3.0.2
python-crontab==2.6.0
python-dateutil==2.9.0.post0
pywatchman==2.0.0
requests==2.32.3
semantic-version==2.10.0
setuptools==75.2.0
six==1.16.0
smmap==5.0.1
urllib3==2.2.3
wheel @ file:///opt/homebrew/Cellar/python%403.13/3.13.1/libexec/wheel-0.45.1-py3-none-any.whl#sha256=da46333d5dcbde6e20cf7e2f8fff9e9ce76e8c94dc4afd6fb95fc4bc2745fb5e
